.grids {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 1fr); /* Three columns of 1 fraction everything will be equal in size*/
    grid-template-rows: repeat(3, 1fr);  /* same as column instead rows*/
}
